.alllist {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #b5b1b4;
}
.field {
  width: 400px;
  margin: auto;
 }

 .btn {
    width: 300px;
    margin-top: 10px;
    border: 1px;
    box-shadow: 1px;
    cursor: pointer;
    border-radius: 1px;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    background: #4d1c4d;
    transition: 0.3s;
  }
  
  .btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(74, 84, 115, 0.3);
    transform: scale(1.05);
  }
  
  
  .card-image {
    margin-top: 20px;
    text-align: center;
    width: 300px;
  }
  .but {
    width: 300px;
    border-radius: 1px;
    height: 30px;
    border: 1px;
    color: rgb(3, 3, 3);
    background: #e4e2e4;
    text-align: center;
    margin: 5px auto;
  }
 
  ::placeholder {
    color: #000;
    padding: 8px;
  }
 