.btn {
    padding: 0;
    background-color: transparent;
    border: 1px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;
    border-radius: 50%;
    margin: 5px 10px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    background: #4d1c4d;
    transition: 0.3s;
  }
  
  .btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(74, 84, 115, 0.3);
    transform: scale(1.1);
  }
  .card {
    width: 200px;
    margin: 20px;
  }
  
  .card-image {
    display: block;
    width: 200px;
    height: 150px;
  }
  .but {
    border-radius: 10px;
    height: 30px;
    width: 90px;
    border: 1px;
    color: rgb(3, 3, 3);
    background: #b5b1b4;
  }
 
  ::placeholder {
    color: #000;
    padding: 8px;
  }